.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s ease-out;

    @media screen and (min-width: 992px) {
        max-width: 96vw;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }

    @media screen and (min-width: 1300px) {
        max-width: 1240px;
    }
}
